.slices {
  &-available {
    @media (min-width: 768px) {
      width: 50%;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;

    .article-slice,
    .hero-slice,
    .price-slice {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;

        button {
          color: red;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      &-content {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border: 0.5px solid gray;
        padding: 20px;
        width: 90%;

        label {
          text-align: left;
          font-size: small;
        }

        input,
        textarea,
        select {
          border-radius: 5px;
        }
      }
    }
  }

  &-add {
    @media (min-width: 768px) {
      width: 80%;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    &--button-container {
      @media (min-width: 768px) {
        width: 25%;
      }
      width: 100%;
      border-radius: 8px;
      border: 1px solid black;
      padding: 30px;
      margin-bottom: 10px;

      button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
        width: 90%;
        height: 120px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        gap: 10px;
      }

      .button-price-slice {
        background-color: #d0f483;
      }

      .button-article-slice {
        background-color: #63f397;
      }

      .button-hero-slice {
        background-color: #b1b5f3;
      }

      button:hover {
        border-color: #646cff;
      }

      button:focus,
      button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      }
    }
  }
}
